{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to Flask Introduction in Python</p>
            <p>Go visit at are website <a href="https://google.com">Google.com</a>
            to check more about Flask</p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts&raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}